include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/mcp *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/mcp/migration *.ini *.py *.mako
recursive-include ckanext/mcp/public *.*
